<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/css/style.css">





<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <div class="p-3 mb-2 bg-dark text-white">Categorias</div>
        <a
           href="/"
           class="list-group-item list-group-item-action py-2 ripple "
           >
          <i class="fas fa-chart-area fa-fw me-3"></i
            ><span>Audio</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-lock fa-fw me-3"></i><span>Cocinas</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-line fa-fw me-3"></i
          ><span>Secarropas</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Lavarropas</span>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Estufas</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-globe fa-fw me-3"></i
          ><span>Termotanques</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-building fa-fw me-3"></i
          ><span>Horno Electrico</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-calendar fa-fw me-3"></i
          ><span>Microondas</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-users fa-fw me-3"></i><span></span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-money-bill fa-fw me-3"></i><span></span></a
          >
      </div>
    </div>
  </nav>

</header>


<!--Main layout-->
<main style="margin-top: 58px">
  <div class="container pt-4">
    <h1>ELECTRODOMESTICOS</h1>
 <!-- Section-->
<section class=" ">
 <div class="container px-4  mt-5">
     <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 d-flex justify-content-start">
        
       <% for (let i=0; i < product.length; i++) { %>
       <div class="col mb-5">
             <div class="card h-100 border border-secondary" >
                 <!-- Product image-->
                 <img class="card-img-top rounded"  src="<%- product[i].imagen %>" alt="..." />
                 <!-- Product details-->
                 <div class="card-body p-4">
                     <div class="text-center">
                         <!-- Product name-->
                         <h5 class="fw-bolder"><%- product[i].nombre_producto %></h5>
                         <!-- Product price-->
                         <%- product[i].valor %>   <%- product[i].stock %> 
                     </div>
                 </div>
                 <!-- Product actions-->
                 <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                     <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="./product/<%- product[i].id %>">Detalle</a></div>
                 </div>
             </div>
         </div>
         <% } %>

     </div>
 </div>
</section>
  </div>
</main>
<!--Main layout-->

