<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="/css/style.css">





      <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">

          <div class="list-group list-group-flush mx-3 mt-4">
            <a href="/productos/electrodomesticos" class="text-decoration-none p-3 mb-2 bg-dark text-white">
              ELECTRODOMESTICOS
            </a>
            <a href="/productos/electronica" class="text-decoration-none p-3 mb-2 bg-dark text-white">
              ELECTRONICA
            </a>




            <div class="p-3 mb-2 bg-dark text-white">MUEBLES</div>
            <a href="/productos/muebles/despensero"
              class="list-group-item list-group-item-action py-2 ripple ">
              <i class="fas fa-chart-area fa-fw me-3"></i><span>Despensero</span>
            </a>
            <a href="/productos/muebles/mesasillas"
              class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-lock fa-fw me-3"></i><span>Mesa y Sillas</span></a>
            <a href="/productos/muebles/placards" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Placards</span></a>
            <a href="/productos/muebles/mueblesdecocina"
              class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Muebles de Cocina</span></a>
            <a href="/productos/muebles/racktv" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Rack TV</span></a>
            <a href="/productos/muebles/camas" class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Camas</span></a>
            <a href="/productos/muebles/colchones"
              class="list-group-item list-group-item-action py-2 ripple"><i
                class="fas fa-chart-line fa-fw me-3"></i><span>Colchones</span></a>
          </div>



        </nav>

      </header>


      <!--Main layout-->
      <main style="margin-top: 18px">
        <div class="container pt-4">
          <h1>MUEBLES</h1>
          <h2>
            <%- product[0].subcategoria %>
          </h2>
          <!-- Section-->
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <% for (let i=0; i < product.length; i++) { %>
              <div class="col">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                  <img src="/imagenes/<%-product[i].imagen %>"class="bd-placeholder-img card-img-top" width="100%" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
      
                  <div class="card-body">
                    <div class="text-center">
                      <div class="card-body p-4">
                        <div class="text-center">
                          <!-- Product name-->
                          <h4 class="fw-bolder">
                            <%- product[i].nombre_producto %>
                          </h4>
                          <!-- Product price-->
                          <h4>  <%- product[i].valor %></h4>
                            <%- product[i].stock %>
                        </div>
                      </div>
                                     <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-primary mt-auto"
                        href="/productos/product/<%- product[i].id %>">Detalle</a></div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>

          </div>
        </div>

    </div>
      </main>

        <!--Main layout-->